include README.rst
include LICENSE
include INSTALL
include packaging/VERSION
recursive-include docs *
recursive-include packaging *.txt
recursive-include prngmgr/templates *.html
recursive-include prngmgr/static/css *.css
recursive-include prngmgr/static/js *.js
recursive-include prngmgr/static/img *.jpg *.ico
exclude prngmgr/local_settings.py
