{% extends "prngmgr/base.html" %}
{% load staticfiles %}

{% block title %}{{ table.title }}{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/table.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title text-center">{{ table.title }}</h1>
        </div>
        <table id="data-table" class="table table-hover nowrap" cellspacing="0" width="100%"
               prngmgr-def-src="{{ table.api.definition }}" prngmgr-data-src="{{ table.api.data }}">
            <thead></thead>
        </table>
    </div>
{% endblock %}
