{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Peering Manager{% endblock %}</title>
    <meta name="description" content="Peering Manager"/>
    <link rel="icon" href="{% static 'img/favicon.ico' %}"/>
    {% include "prngmgr/css.html" %}
    {% block links %}{% endblock %}
    {% include "prngmgr/js.html" %}
    {% block scripts %}{% endblock %}
</head>

<body>
    {% block navbar %}{% include "prngmgr/navbar.html" %}{% endblock %}
    <div class="container-fluid">
        <div class="base" id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include "prngmgr/footer.html" %}
</body>
</html>
